@import './variaveis/variaveis.scss';
@import url(https://fonts.google.com/specimen/Bai+Jamjuree);

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-image: url("../images/bg-header-desktop.png");
    background-repeat: no-repeat;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    flex-direction: column;
    font-family: 'Bai Jamjuree', sans-serif;

    .imagem-logo {
        height: 80px;
    }

    .texto-principal {
        font-weight: 600;
        font-size: 25px;
        margin-top: 3rem;
        opacity: 0.8;
    }

    .paragrafo {
        text-align: center;
        margin-top: 1.5rem;
        opacity: 0.4;
    }

    .buttom {
        display: flex;
        flex-direction: row;
        margin-top: 2rem;
        border-radius: 2rem;
        border-bottom: 5rem;
        color: white;
        font-size: 10px;

    }

    .ios {
        background-color: $Strong-Cyan;
        border-radius: 2rem;
        padding: 0.8rem 2rem;
        margin-right: 1rem;

    }

    .mac {
        background-color: $Light-Blue;
        border-radius: 2rem;
        padding: 0.8rem 2rem;
    }

    .end-section {
        font-weight: 600;
        font-size: 25px;
        margin-top: 13rem;
        opacity: 0.8;
    }

    .keep {
        margin: 0;
    }
}

.start-second {
    text-align: center;
    opacity: 0.4;
    font-family: 'Bai Jamjuree', sans-serif;
}

.second-section {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;

    .note {
        height: 480px;
    }

    .topics {
        margin-right: 23rem;
    }

    .titulo-second {
        font-size: 18px;
        font-weight: 600;
        margin-top: 6.5rem;
    }

    .text-second {
        opacity: 0.4;
        margin-top: 1rem;
    }
}

.third-section {

    .third-principal {
        font-weight: 600;
        font-size: 25px;
        opacity: 0.8;
        text-align: center;
        margin-top: 8rem;
    }

    .third-text {
        text-align: center;
        margin-top: 1rem;
        opacity: 0.4;
    }

    .img-devices {
        text-align: center;
    }

    .devices {
        height: 400px;
        margin-top: 8rem;
    }

}

.titulo-four {
    font-weight: 600;
    font-size: 25px;
    opacity: 0.8;
    text-align: center;
    margin-top: 3rem;
}

.paragrafo-four {
    text-align: center;
    opacity: 0.4;
    margin-top: 0.5rem;
}

.container-four {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 4rem;

    .blacklists {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: 3rem;
    }

    .text-five {
        font-weight: 600;
        text-align: center;
        margin-top: 2rem;
        font-size: 16px;
    }

    .paragrafo-five {
        text-align: center;
        opacity: 0.4;
        margin-top: 1rem;
    }
}

.carrosel-fotos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10rem 10rem;

}

.clipboard {
    font-weight: 600;
    font-size: 25px;
    opacity: 0.8;
    text-align: center;
}

.available {
    text-align: center;
    opacity: 0.4;
    margin-top: 3rem;
}

.buttom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;
    border-radius: 2rem;
    border-bottom: 5rem;
    color: white;
    font-size: 10px;
    margin-top: 3rem;

    .ios {
        background-color: $Strong-Cyan;
        border-radius: 2rem;
        padding: 0.8rem 2rem;
        margin-right: 1rem;

    }

    .mac {
        background-color: $Light-Blue;
        border-radius: 2rem;
        padding: 0.8rem 2rem;
    }
}

.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: hsl(201, 11%, 66%, 0.2);
    align-items: center;
    margin-top: 8rem;
    padding: 1rem;


    .logo {
        height: 30px;
        margin-left: 10rem;

    }


    .primeiro {
        display: flex;
        flex-direction: column;
        opacity: 0.5;

        .contact {
            margin-top: 1REM;
        }
    }

    .segundo {
        display: flex;
        flex-direction: column;
        opacity: 0.5;

        .press {
            margin-top: 1rem;
        }

    }

    .terceiro {
        display: flex;
        flex-direction: column;

        .install {
            margin-bottom: 2rem;
            opacity: 0.5;
        }

    }
}

.redes {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-right: 10rem;

    .face {
        margin-right: 2rem;

        .facebook {
            height: 20px;
        }
    }

    .tt {
        margin-right: 2rem;
    }

    .instagram {
        height: 20px;
    }
}